antiorm==1.2.0
db==0.1.1
db-psycopg2==0.0.7
dj-database-url==0.4.1
Django==1.9.7
fuzzywuzzy==0.10.0
gTTS==1.1.5
gTTS-token==1.1.1
gunicorn==19.6.0
nltk==3.2.1
psycopg2==2.6.1
psycopg2cffi-compat==1.1
python-dateutil==2.5.3
pyttsx==1.1
pytube==6.1.8
requests==2.7.0
six==1.10.0
textblob==0.11.1
whitenoise==3.2
Yowsup==0.2
